.header {
  padding: 20px;
  background: $accent;
}

.header-nav {
  &__list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  &__link {
    color: $dark;
    padding: 10px;
    text-decoration: none;
    &.active {
      border-bottom: 1px solid $dark;
      font-weight: 600;
    }
  }
}